<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
 
<body>

	<p:dataTable value="#{cargaContactos}" var="contacto" paginator="true" rows="10">
		<p:column>    				
        	<f:facet name = "header">Nombre</f:facet>    				
             #{contacto.nombre}
        </p:column>
        
        <p:column>    				
        	<f:facet name = "header">Apellidos</f:facet>    				
             #{contacto.apellidos}
        </p:column>
        
        <p:column>    				
        	<f:facet name = "header">Numero</f:facet>    				
             #{contacto.numero}
        </p:column>
	</p:dataTable>

</body> 
</html>
